body {
    margin:0;
    padding:0;
    background-image:url(res/background.jpg);


}

.Nav {
    padding:0;
    margin:0;
    top:0;
}

#cssmenu {
  zoom: 1;
  width: auto;
  background-color:rgba(255, 255, 255, 1);
  padding: 8px 0;

  margin:0px;
  top:0;
}
#cssmenu:before {
  content: '';
  display: block;
}
#cssmenu:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu ul {
  list-style-type: none;
  position: relative;
  display: block;
  font-size: 12px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #0150bc;
  zoom: 1;
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
#cssmenu li a {
  float: left;
  color: #A79787;
  text-decoration: none;
  height: 24px;
  padding: 9px 15px 0;
  font-weight: normal;
}
#cssmenu li:hover,
#cssmenu .active {
  text-decoration: none;
  border-bottom: 2px solid #009cb8;
}
#cssmenu li:hover a {
  color: #333;
}
#cssmenu .active a {
  color: #333;
  font-weight: 700;
}
